name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag docker-quotes:latest

      - name: Verify Docker Compose
        run: |
          docker compose up -d
          sleep 5
          docker compose ps
          docker compose logs
