name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Verify Docker Compose
        run: |
          docker compose up -d --build
          sleep 5
          docker compose ps
          docker compose logs
          # Check for non-zero exit codes. If any container failed, fail the pipeline.
          if docker compose ps -a --format '{{.ExitCode}}' | grep -v '^0$'; then
            echo "::error::One or more containers failed to run successfully (Non-zero exit code)."
            exit 1
          fi
          docker compose down

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-quotes:v1.1.0,${{ secrets.DOCKERHUB_USERNAME }}/docker-quotes:latest

      - name: Update Docker Hub Description
        if: github.event_name != 'pull_request'
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/docker-quotes
          short-description: "Dockerized ASCII Quote Generators: Optimized Multi-Variant Collection"
          readme-filepath: ./DOCKERHUB_README.md
